POSTGRES_HOST=project-lab-database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=very_secure_ultra_cool_password
POSTGRES_DB=postgres
POSTGRES_SSL_MODE=disable # db and api are both in the same network, don't enable
POSTGRES_PORT=5432
SPRING_PORT=8080
SPRING_PROFILES_ACTIVE=dev_or_prod
SPRING_AI_OPENAI_API_KEY=your_openai_api_key_here

